.menuPaper {
  margin-top: 15px;
  /* Другие стили для корневого элемента меню */
  margin-left: 15px;
}

.menuList {
  background: var(--green-90);
  color: var(--white);
  padding: 10px 16px !important;

  & :disabled {
    color: red !important;
  }

  &.Mui-disabled {
    color: red !important;
  }
}

.menuItem {
  border: 1px solid transparent !important;
  border-radius: 6px;

  &:hover {
    background-color: var(--green) !important;
  }

  &:focus-visible {
    border: 1px solid var(--cream) !important;
    background-color: transparent;
  }
}

.menuItemText {
  width: 100%; /* Чтобы текст занимал всю ширину родителя */

  &Service {
    text-transform: capitalize;
  }
}

.menuItemIcon {
  min-width: 30px !important;
  color: var(--cream) !important; /* Устанавливаем цвет иконок */
}

.divider {
  background-color: var(--cream);
  //height: 1px; /* При необходимости измените толщину */
  margin: 6px 0 !important;
}

/* Стили для других элементов, если необходимо */

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px !important;

  // Стили для disabled элементов
  &:disabled,
  &[aria-disabled='true'] {
    color: var(--white-80) !important;
    opacity: 1 !important;
    font-weight: 300;

    // Первый элемент внутри отключённого MenuItem
    & > *:first-child {
      //opacity: 1 !important; // Первый элемент всегда будет иметь opacity 1
      color: var(--white) !important;
      font-weight: 400;
    }
  }

  // Если элемент первый внутри .info, то устанавливаем opacity 1
  & > *:first-child {
    opacity: 1 !important;
    //color: red;
  }
}

.buttonCustom {
  padding: 0 !important;
  min-width: 0 !important;
  border-radius: 16px;
  display: flex;

  &:focus-visible {
    outline: none;
    border-radius: 16px;
    box-shadow: 0 0 1px 4px var(--cream);
  }
}
