/* LoginPage.module.scss */
@import '/src/6-shared/constants/breakpoints.scss';

.skeletonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  width: 380px;

  @media screen and (min-width: #{$width-lg}px) {
    align-items: center;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.6rem;
  width: 100%;
}

.subtitle {
  //font-size: 20px;
  font-weight: 300;
  word-break: break-word;
}

.title {
  font-size: 32px;
  color: var(--green);
  margin: 0;
}

//.form {
//  width: 380px;
//  margin-top: 2rem;
//}

.button {
  //width: fit-content;
  text-transform: uppercase;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.spinnerContainer {
  //border: 1px solid;
  display: flex;
  justify-content: center;
  height: 100%;
}