
// Обводка по умолчанию
.outlinedNotchedOutline {
  border-color: #ea00ff !important;
}

// Обводка при hover
.outlinedRoot:hover .MuiOutlinedInput-notchedOutline {
  border-color: #00ff4c !important;
}

// Обводка при focus
.outlinedRoot.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2 !important;
  border-width: 2px !important;
}

.selectText {
  color: #ff0000; // Стили текста внутри селекта
}
