:root {
  --color-cream: #ead2c6;
  --color-yellow: #ffb07b;
  --color-red: #bf5235;
  --color-white: #f3e5e4;
  --color-teal: #86b7a4;
  --color-green: #44564a;
  --color-green-90: #44564ae6;
  --color-green-80: #44564acc;
  --color-green-70: #44564ab3;
  --color-green-60: #44564a99;
  --color-green-50: #44564a80;
  --color-green-40: #44564a66;
  --color-green-30: #44564a4d;
  --color-green-20: #44564a33;
  --color-green-10: #44564a1a;
  --color-black: #1f1f2d;
  --color-black-90: #1f1f2de6;
  --color-black-80: #1f1f2dcc;
  --color-black-70: #1f1f2db3;
  --color-black-60: #1f1f2d99;
  --color-black-50: #1f1f2d80;
  --color-black-40: #1f1f2d66;
  --color-black-30: #1f1f2d4d;
  --color-black-20: #1f1f2d33;
  --color-black-10: #1f1f2d1a;
}
