:root {
  --cream: #ead2c6;
  --yellow: #ffb07b;
  --red: #bf5235;
  --white: #f3e5e4;
  --white-90: #f3e5e4e6;
  --white-80: #f3e5e4cc;
  --white-70: #f3e5e4b3;
  --white-60: #f3e5e499;
  --white-50: #f3e5e480;
  --white-40: #f3e5e466;
  --white-30: #f3e5e44d;
  --white-20: #f3e5e433;
  --white-10: #f3e5e41a;
  --teal: #86b7a4;
  --green-900: #263029;
  --green-800: #2d3931;
  --green-700: #35433a;
  --green-600: #3c4c42;
  --green-500: #44564a;
  --green-400: #59695e;
  --green-300: #6e7c72;
  --green-200: #828e86;
  --green-100: #97a19a;
  --green-50: #a5aea8;
  --black: #1f1f2d;
  --black-90: #1f1f2de6;
  --black-80: #1f1f2dcc;
  --black-70: #1f1f2db3;
  --black-60: #1f1f2d99;
  --black-50: #1f1f2d80;
  --black-40: #1f1f2d66;
  --black-30: #1f1f2d4d;
  --black-20: #1f1f2d33;
  --black-10: #1f1f2d1a;
}
