:root {
  --cream: #ead2c6;
  --yellow: #ffb07b;
  --red: #bf5235;
  --white: #f3e5e4;
  --white-90: #f3e5e4e6;
  --white-80: #f3e5e4cc;
  --white-70: #f3e5e4b3;
  --white-60: #f3e5e499;
  --white-50: #f3e5e480;
  --white-40: #f3e5e466;
  --white-30: #f3e5e44d;
  --white-20: #f3e5e433;
  --white-10: #f3e5e41a;
  --teal: #86b7a4;
  --green: #44564a;
  --green-90: #44564ae6;
  --green-80: #44564acc;
  --green-70: #44564ab3;
  --green-60: #44564a99;
  --green-50: #44564a80;
  --green-40: #44564a66;
  --green-30: #44564a4d;
  --green-20: #44564a33;
  --green-10: #44564a1a;
  --black: #1f1f2d;
  --black-90: #1f1f2de6;
  --black-80: #1f1f2dcc;
  --black-70: #1f1f2db3;
  --black-60: #1f1f2d99;
  --black-50: #1f1f2d80;
  --black-40: #1f1f2d66;
  --black-30: #1f1f2d4d;
  --black-20: #1f1f2d33;
  --black-10: #1f1f2d1a;
}
